/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 8rem 0;
  text-align: center;
  position: relative;
  background: none !important;
}

.heroBackground {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  z-index: 0;
  opacity: 0.1;
}

.main {
  position: relative;
  overflow: hidden;
  background-image: url("../../static/img/hero_hands.svg");
  background-size: cover;
  background-position: center;
  flex: 1 0 auto;
}

.backgroundDimmer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--ifm-hero-background-color);
  opacity: .9;
}

.titlePart {
  display: block;
  font-size: 3rem;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    height: 92vh;
    padding: 4rem 1rem;
  }

  .heroBackground {
    top: 50%;
    left: 50%;
    width: unset;
    height: 100%;
    transform: translate(-50%, -50%);
  }

  .titlePart {
    font-size: 2.2rem;
    display: inline;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}