.homepageLanguages {
  display: block;
}

.homepageLanguageLink a {
  text-decoration: underline;
  color: inherit;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.flexLeft {
  margin: 0;
}

@media screen and (max-width: 966px) {
  .flex {
    margin-bottom: 0;
  }

  .flexLeft {
    font-size: 1rem;
    margin-top: 0.2em;
  }
}

.flexRight {
  text-align: right;
}

.languageItem {
  display: flex;
  box-shadow: 0.5rem 0.5rem 1rem #0004;
  margin: 0.6rem 0;
}

.languageImage {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.languageImage img {
  height: 4rem;
}

.languageInfo {
  padding: 1rem;
  background: #0002;
  color: #000;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.languageInfo h3 {
  margin: 0;
}

.languageInfo p {
  margin: 0;
}

.languageInfo a {
  color: inherit;
  text-decoration: underline;
}
